<h1>New Project</h1>

<div class="col-xs-12">

  <%= form_for @project do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-group">
    <%= f.label :goal %>
    <%= f.number_field :goal %>
  </div>


  <h3>Add Rewards</h3>

  <%= f.fields_for :rewards do |reward_fields| %>
    <div class="form-group">
      <%= reward_fields.label :title %>
      <%= reward_fields.text_field :title %>
    </div>
    <div class="form-group">
      <%= reward_fields.label :description %>
      <%= reward_fields.text_area :description %>
    </div>
    <div class="form-group">
      <%= reward_fields.label :amount %>
      <%= reward_fields.number_field :amount %>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.submit %>
  </div>

  <% end %>


</div>
